In [29]:
import pandas as pd

In [30]:
file_path = r"C:\Users\pavan\Downloads\sample.csv"

In [31]:
data = pd.read_csv(file_path)

In [32]:
data.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0

In [33]:
data.sample()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
85,119327,HPSupport,False,Wed Oct 11 13:36:36 +0000 2017,"@105858 Hi Agoura, thanks for tweeting. Please...",NaN,119328.0

In [34]:
data.tail()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
88,119330,105859,True,Wed Oct 11 13:50:42 +0000 2017,@105860 I wish Amazon had an option of where I...,119329,119331.0
89,119331,105860,True,Wed Oct 11 13:47:14 +0000 2017,They reschedule my shit for tomorrow https://t...,119330,NaN
90,119332,Tesco,False,Wed Oct 11 13:34:06 +0000 2017,"@105861 Hey Sara, sorry to hear of the issues ...",119333,119334.0
91,119333,105861,True,Wed Oct 11 14:05:18 +0000 2017,@Tesco bit of both - finding the layout cumber...,"119335,119336",119332.0
92,119335,Tesco,False,Wed Oct 11 15:38:07 +0000 2017,@105861 If that doesn't help please DM your fu...,NaN,119333.0

In [35]:
data.text

0     @AppleSupport causing the reply to be disregar...
1     @105835 Your business means a lot to us. Pleas...
2     @76328 I really hope you all change but I'm su...
3     @105836 LiveChat is online at the moment - htt...
4     @VirginTrains see attached error message. I've...
                            ...
88    @105860 I wish Amazon had an option of where I...
89    They reschedule my shit for tomorrow https://t...
90    @105861 Hey Sara, sorry to hear of the issues ...
91    @Tesco bit of both - finding the layout cumber...
92    @105861 If that doesn't help please DM your fu...
Name: text, Length: 93, dtype: object

In [36]:
data["text"][0]

'@AppleSupport causing the reply to be disregarded and the tapped notification under the keyboard is opened😡😡😡'

In [37]:
data = data["text"].str.lower()

In [26]:
data

0     @applesupport causing the reply to be disregar...
1     @105835 your business means a lot to us. pleas...
2     @76328 i really hope you all change but i'm su...
3     @105836 livechat is online at the moment - htt...
4     @virgintrains see attached error message. i've...
                            ...
88    @105860 i wish amazon had an option of where i...
89    they reschedule my shit for tomorrow https://t...
90    @105861 hey sara, sorry to hear of the issues ...
91    @tesco bit of both - finding the layout cumber...
92    @105861 if that doesn't help please dm your fu...
Name: text, Length: 93, dtype: object

In [38]:
# remove html tags

In [43]:
import re

In [44]:
def remove_html_tags(raw_html):

    clean_text = re.sub(r'<.*?>', '', raw_html)

    return clean_text

In [47]:
data[0]

'@applesupport causing the reply to be disregarded and the tapped notification under the keyboard is opened😡😡😡'

In [46]:
remove_html_tags(data[0])

'@applesupport causing the reply to be disregarded and the tapped notification under the keyboard is opened😡😡😡'

In [48]:
html_string = "<p>This is <b>bold</b> and <i>italic</i></p>"

In [49]:
remove_html_tags(html_string)

'This is bold and italic'

In [51]:
# remove url

In [55]:
data[87]

'@105859 ups has a service called my choice that will allow your packages to be delivered to ups store. ^ml  https://t.co/bpzkndqww1 https://t.co/wkjhdxwgrq'

In [59]:
def remove_url(text):

    pattern = re.sub(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+|www\.[a-zA-Z0-9-]+(?:\.[a-zA-Z]{2,})+', '', text)

    return pattern

In [56]:
remove_url(data[87])

'@105859 ups has a service called my choice that will allow your packages to be delivered to ups store. ^ml   '

In [60]:
text_with_urls = "Check out this website: www.example.com. Also, visit http://another-example.com."

In [61]:
remove_url(text_with_urls)

'Check out this website: . Also, visit '

In [62]:
# remove punctuation

In [63]:
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [68]:
text = data[21]

In [69]:
text

"@105840 you're welcome! if there's anything else we can help with, just give us a shout. we're here for you 😉 /cp"

In [70]:
def remove_punctuation(text):

    for char in string.punctuation:
        text = text.replace(char, "")

    return text

In [71]:
remove_punctuation(text)

'105840 youre welcome if theres anything else we can help with just give us a shout were here for you 😉 cp'

In [73]:
data[24]

'@applesupport after the 11.0.2 my phone just sucks most of the apps are broken, wifi disconnects frequently #apple #ios1102 #painfulupdate'

In [72]:
remove_punctuation(data[24])

'applesupport after the 1102 my phone just sucks most of the apps are broken wifi disconnects frequently apple ios1102 painfulupdate'

In [75]:
#abbreviations

In [76]:
word_abbreviations = {
    "FAQ":"Frequently Asked Questions",
"FC":"Fingers Crossed",
"FWIW":"For What It's Worth",
"FYI":"For Your Information",
"GAL":"Get A Life",
"GG":"Good Game",
"GN":"Good Night",
"GMTA":"Great Minds Think Alike",
"GR8":"Great!",
"G9":"Genius",
}

In [80]:
def abbreviations(text):
    new_words = []

    for word in text.split():
        if word.upper() in word_abbreviations:
            new_words.append(word_abbreviations[word.upper()])
        else:
            new_words.append(word)

    return new_words

In [82]:
text = "FAQ for interview"
text2 = "FC im hoping for good news on the job interview"
text3 = "FWIW I think you should go for it. Take a chance."

In [83]:
abbreviations(text)

['Frequently Asked Questions', 'for', 'interview']

In [84]:
abbreviations(text2)

['Fingers Crossed',
 'im',
 'hoping',
 'for',
 'good',
 'news',
 'on',
 'the',
 'job',
 'interview']

In [85]:
abbreviations(text3)

["For What It's Worth",
 'I',
 'think',
 'you',
 'should',
 'go',
 'for',
 'it.',
 'Take',
 'a',
 'chance.']

In [86]:
# spell correction

In [87]:
import textblob

In [88]:
from textblob import TextBlob

In [89]:
text = "The weathr outside is beautiful."

In [90]:
t = TextBlob(text)

In [92]:
t.correct()

TextBlob("The weather outside is beautiful.")

In [102]:
text2 = "She recved a bithday card from her friend."

In [103]:
t2=TextBlob(text2)

In [104]:
t2.correct()

TextBlob("The received a birthday card from her friend.")

In [108]:
text3 = "I lve eatting ice crem in the sumer."

In [109]:
t3=TextBlob(text3)

In [110]:
t3.correct()

TextBlob("I love eating ice cream in the summer.")